<h4>Arc invariant over \(\mathbb{F}_2\)</h4>
<p><span onclick=on('../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7')><img class=tangle_diagram src='../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_thumbs-1.png'></span>
<span onclick=on('../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_02')><img class=component src='../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_thumbs-2.png'></span>
<span onclick=on('../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_03')><img class=component src='../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_thumbs-3.png'></span>
<span onclick=on('../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_04')><img class=component src='../KhT/examples/5_2-B/5_2-B_5/5_2-B_5_BNr7_thumbs-4.png'></span>

</p>
