<h4>Arc invariant over \(\mathbb{F}_2\)</h4>
<p><span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7')><img class=tangle_diagram src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-01.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_02')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-02.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_03')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-03.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_04')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-04.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_05')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-05.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_06')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-06.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_07')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-07.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_08')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-08.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_09')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-09.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_10')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-10.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_11')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-11.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_12')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-12.png'></span>
<span onclick=on('KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_13')><img class=component src='KhT/examples/cixin_liu/cixin_liu_5/cixin_liu_5_small_BNr7_thumbs-13.png'></span>

</p>
